body {
	font-family: 'Montserrat', sans-serif;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	color: #444444;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8rem;
	min-height: 15rem;
}

h1 {
	font-size: 3rem;
	font-weight: bold; 
	letter-spacing: 0.25rem;
	color: #4665DB;
}


h2 {
	font-size: 1.5rem;
	font-weight: bold;
	letter-spacing: 0.25rem;
	margin: 1rem;
}

p {
	text-transform: none;
	font-size: 1.5rem;
	margin: 0 auto;
	padding: 1rem;
	max-width: 600px;
	line-height: 1.25;
}


span {
	font-weight: bold;
}

small {
	text-transform: none;
	font-size: 0.825rem;
	padding: 1rem;
	max-width: 600px;
	line-height: 1.25;
}

.info {
	margin: 4rem auto;
}

.hero-shot {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 8rem;
	height: 20rem;
	
	background-image: url("../images/hero-shot.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.hero-shot, .hero-shot h1 {
	color: white;
	
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 4rem;
	justify-content: center;
	align-content: center;
	
}

.gallery img {
	width: 400px;
	height: 267px;
	margin: 0.25rem;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4665DB;
	color: white;
	height: 6rem;
	line-height: 1.25;

}

@media screen and (max-width: 650px) {
	
	header, .hero-shot {
		padding: 8rem 3rem;
		}
		
	footer {
		padding: 2rem;
	}
}